
<% include partials/header %>



<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to your Classroom </h1>
      <h2><a href="/campgrounds">Go to class</a>  </h2>
      
    </div>
  </header>

  <div class="row" style="display:flex; flex-wrap: wrap;">

    
   

  </div>
</div>


<% include partials/footer %>