<% include partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to your Sebonaché Matches</h1>
      <p>Congratulations you found a match</p>
      
    </div>
  </header>

  <div class="row" style="display:flex; flex-wrap: wrap;">

    
      <div class="col-md-4 col-sm-6">
        <div class="thumbnail" >
          <span>
              <img src="https://scontent.xx.fbcdn.net/v/t1.0-9/30623911_126384781547309_8999352903541981184_n.jpg?_nc_cat=0&oh=cbcf39b534488652417b66963dd604e6&oe=5B6A257D" id="index_images">
              <div class="caption text-center">
                <h4>Andrew Ng</h4>
                <p>
                  <a href="/campgrounds/5ad7b66766d61d0014c81b55" class="btn btn-primary">More Info</a>
                </p>
              </div>
          </span>
        </div>
      </div>
   

  </div>
</div>

<% include partials/footer %>