<% include partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to your Sebonaché profile</h1>
      <p>It is currently under construction</p>
      
    </div>
  </header>

  <div class="row" style="display:flex; flex-wrap: wrap;">

    
   

  </div>
</div>

<% include partials/footer %>